{% extends 'blog/base.html' %}

{% block content %}
    <form method="POST" class="post-form">{% csrf_token %}
        <input type="text" name="author" maxlength="28" required="" id="id_author"style="width: 250px;" placeholder="Nome">
        <button type="submit" id="coment-submit">Enviar</button>
        <div>
        <textarea name="text" cols="40" rows="10" required="" id="id_text" style="width: 350px;" placeholder="Comentário"></textarea>
        </div> 
    </form>
    {% if not user.is_authenticated %}
    <p class="p-red">*Seu comentário só aparecera no post após ser aprovado</p>
    {% endif %}
{% endblock %}